set grid
set autoscale                        # scale axes automatically
set xtic 1                          # set xtics automatically
set ytic auto                          # set ytics automatically

set xlabel "Liczba wątków"
set ylabel "Średni czas wykonania [ms]"

#lt line type
#lw line width
#lc line color
set style line 5 lt 1 lw 5 pt 6 lc rgb "blue"


#plot  "chart.data" using 1:2 title 'Czas wykonania' with linespoints smooth bezier
#set term pngcairo size 1000,650 enhanced font "Helvetica,20"
#set output 'wykres_czasu.png'

set term epslatex color colortext
set output 'wykres_czasu.tex'
plot  "wykres_czasu.data" using 1:2 title 'Czas wykonania' with linespoints ls 5

#Trochę inne ustawienia wykresu dla przyśpieszenia!
set yrange [0: ]
set ytic 1
set key right bottom
set ylabel "Średnie przyśpieszenie"
set output 'wykres_przyspieszenia.tex'
 
plot "wykres_przyspieszenia.data" using 1:2 title 'Przyśpieszenie' with linespoints ls 5
