set grid
set autoscale                        # scale axes automatically
set xtic auto
set ytic auto                          # set ytics automatically

set xlabel "Ilość wątków"
set ylabel "Średni czas wykonania [ms]"

set style line 5 lt 1 lw 5 pt 6 lc rgb "blue"

set term epslatex color colortext
set output 'wykres_czasu.tex'

plot  "wykres_czasu.data" using 1:2 title 'Czas wykonania' with linespoints ls 5

set ylabel "Przyśpieszenie"
set output 'wykres_przyspieszenia.tex'
plot  "wykres_przyspieszenia.data" using 1:2 title 'Przyśpieszenie' with linespoints ls 5


#($2 / 1000):($1)	(sprintf("(%d, %ds)", $1, $2)) with labels
